.hpc/
*.hi
*.o
*.swp
dist/
test/regression/programs/imaginary/PingPong
test/regression/programs/imaginary/SendReceive
test/regression/programs/imaginary/Greetings
test/regression/programs/imaginary/SendReceiveBlock
test/regression/programs/imaginary/SendReceiveFuture
test/regression/programs/imaginary/Bcast
test/regression/programs/imaginary/GreetingsAsync
/.hpc/*
*~
/html/*
/*.tix
