.hpc/
*.hi
*.o
*.swp
dist/
test/regression/programs/imaginary/PingPong
test/regression/programs/imaginary/SendReceive
test/regression/programs/imaginary/Greetings
test/regression/programs/imaginary/SendReceiveBlock
test/regression/programs/imaginary/SendReceiveFuture
test/regression/programs/imaginary/Bcast
test/regression/programs/imaginary/GreetingsAsync
test/regression/programs/imaginary/ISendIRecv
/.hpc/*
*~
/html/*
/*.tix
docs/HCAR/Issue19/template.aux
docs/HCAR/Issue19/template.log
docs/HCAR/Issue19/template.out
docs/HCAR/Issue19/template.pdf
/test/examples/programs/speed/Bandwidth
/test/examples/programs/speed/BidirectionalBandwidth
/test/examples/programs/speed/AllToAll
/test/examples/programs/speed/serializable/Bandwidth
/test/examples/clientserver/
/sender.log
/receiver.log
